.inspectionPageInner {
    padding: 10px 20px;

    .topSection {
        margin-bottom: 35px;

        .leftForm {
            .singleBox {
                margin-bottom: 6px;
            }

            .col-form-label {
                min-width: 118px;
                min-height: 36px;
            }

            .chosseCarButton {
                width: 100%;
                flex: 1;

                .btn {
                    width: 100%;

                    svg {
                        margin-left: 5px;
                        transition: 0.4s;

                        path {
                            fill: $brand;
                            transition: 0.4s;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }

        .rightForm {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            column-gap: 5px;
            row-gap: 5px;

            .singleCarImage {
                width: 140px;

                .fileUploadInput {
                    height: 100%;

                    label {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .estimateAmount {
        .col-form-label {
            font-size: 14px !important;
        }

        .form-control {
            width: 300px;
        }
    }

    .bottomSection {
        margin-top: 40px;

        .button_group {
            .btn {
                margin-right: 10px;
                min-width: 140px;
                height: 38px;
            }
        }

        .button_group_right {
            .btn {
                margin-left: 10px;
                min-width: 140px;
                height: 38px;
            }
        }

        .remarkText {
            margin-top: 10px;
        }
    }
}

.show_mobile {
    display: none;
}

.inspectionPageInnerMobile {
    background-color: #fff;
    padding: 20px 10px !important;
}

.inspectionPageglobalTitle {
    margin-bottom: 20px;

    h4 {
        font-size: 17px;
    }
}

.tablestyle2Mobile {
    width: auto !important;
    min-width: inherit !important;


}

.tableMobile {
    font-size: 11px;
    width: 100%;
    min-width: 100%;

    thead,
    tbody,
    tfoot {
        vertical-align: middle;

        tr {
            td {
                word-break: break-all !important;
            }
        }
    }
}

.inspectionTable {
    thead {
        tr {
            td {
                span {
                    min-height: 42px;
                }
            }
        }
    }
}

.nextPageButton {
    padding: 0px 20px;
    padding-bottom: 10px;

    .btn {
        width: 100%;
        margin-bottom: 7px;
        text-transform: uppercase;
        font-size: 13px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// chose car modal content
.choseCarModalBody {
    .topInfo {
        padding: 0px 20px;
        padding-bottom: 20px;

        .singleInputBox {
            margin-bottom: 7px;

            .col-form-label {
                min-width: 90px;
            }
        }
    }

    .bottomTable {

        .table {
            vertical-align: middle;
            min-width: 100%;
            width: max-content;

            .form-check {
                margin-bottom: 0px;
            }

            thead {
                tr {
                    td {
                        background-color: #F6F5F5 !important;
                        padding: 10px 10px;
                        font-size: 14px;
                        border-right: 1px solid #e5e5e5;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 5px 10px;
                        font-size: 13px;
                    }
                }
            }
        }

        .table-hover>tbody>tr:hover>* {
            background-color: #c822264d;
            color: #C82226;
        }
    }

    padding-bottom: 15px;
}







@media screen and (max-width: 767px) {
    .mobileReverse {
        flex-direction: column-reverse;
    }

    .breadComeArea .pageHistory {
        text-align: center !important;
        margin-top: 15px;

        ul {
            li {
                a {
                    font-size: 13px;
                }
            }
        }
    }

    .hide_mobile {
        display: none;
    }

    .show_mobile {
        display: flex;
    }

    .inspectionPageInner .topSection .leftForm .chosseCarButton {
        width: 40%;
        float: inherit !important;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .inspectionPageInner .bottomSection .button_group_right {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .btn {
            margin: 0 4px;
        }
    }

    .inspectionPageInner .estimateAmount {
        margin-top: 30px;

        .singleBox {
            flex-direction: column;
        }
    }

    .inspectionPageInner .bottomSection .button_group {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;

        .btn {
            margin: 0;
            width: 60%;
        }
    }

    .inspectionPageInner .bottomSection .remarkText {
        text-align: center !important;
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .appHeader .header_left .search_form .input-group {
        min-width: 280px;
    }

    .inspectionPageInner .topSection {
        .rightForm {
            flex-wrap: nowrap;
            width: max-content;
            margin-bottom: 20px;

            .singleCarImage {
                width: 150px;

                >img {
                    width: 100%;
                }

                .fileUploadInput {
                    label {
                        height: 88px;
                    }
                }
            }
        }

        .mobileScroll {
            overflow-x: scroll;
        }
    }



}

@media screen and (max-width: 576px) {
    .inspectionPageInner {
        padding: 0px 5px !important;
    }

    .tableMobile thead tr td,
    .tableMobile tbody tr td,
    .tableMobile tfoot tr td {
        padding: 5px;
    }

    .appHeader,
    .breadComeArea {
        padding: 0px 20px;
    }

    .breadComeArea {
        margin-bottom: 20px;
    }

    .app_wrapper {
        padding: 10px 0px;
    }

    .appHeader .header_left {
        .search_form {
            flex: 1;
        }
    }

    .appHeader .header_right {
        margin-top: 15px;
    }

    .appHeader .header_left .search_form .input-group {
        min-width: 100%;
    }

    .appInnerCard {
        .card-body {
            padding: 20px 20px;
        }
    }

    .inspectionPageInner .topSection {
        .rightForm {
            flex-wrap: nowrap;
            width: max-content;
            margin-bottom: 20px;

            .singleCarImage {
                width: 120px;

                >img {
                    width: 100%;
                }

                .fileUploadInput {
                    label {
                        height: 70px;
                    }
                }
            }
        }

        .mobileScroll {
            overflow-x: scroll;
        }
    }

    .inspectionPageInner .bottomSection .button_group .btn {
        margin: 0;
        width: 80%;
    }

    .inspectionPageInner .topSection .leftForm .chosseCarButton {
        width: 60%;
        margin-top: 0px;
    }

    .card .card-header .cardPageTititle::before {
        width: 226px;
    }

    .card .card-header .cardPageTititle h3 {
        font-size: 14px;
        padding: 14px 0px;
    }

    .squareRadio .form-check-input {
        height: 13px !important;
        width: 13px !important;
    }

    .globalcheckBox .form-check-label {
        font-size: 12px !important;
    }

    .globalcheckBox .form-check-input {
        height: 13px;
        width: 13px;
    }

    .inspectionPageInner .topSection {
        margin-bottom: 25px;
    }

    .card {
        background-color: #fff;
        border-radius: 0px !important;
    }

    .app_wrapper {
        padding-bottom: 0px;
    }

    .card-body {
        padding-bottom: 0px !important;
    }

    .card-footer {
        padding-top: 0px !important;
    }

    .paginationstyle2 .page-link {
        font-size: 14px;
        line-height: 25px;
    }

    .paginationstyle2 .active {
        font-size: 16px !important;
    }

    .form-check {
        min-height: inherit !important;
    }

    .inspectionPageInner .topSection .leftForm .col-form-label {
        font-size: 14px !important;
    }

    .form-control {
        font-size: 14px !important;
        height: 35px;
    }

    .inspectionPageInner .bottomSection .button_group_right .btn {
        min-width: inherit !important;
    }

    .inspectionPageInner .bottomSection .button_group_right {
        width: 82%;
        margin: 0 auto;
        margin-top: 14px;

        .btn {
            width: 100%;
        }
    }

    .inspectionPageInner .bottomSection .button_group .btn {
        font-size: 14px !important;
    }

    .inspectionPageInner .bottomSection .button_group_right .btn {
        font-size: 14px !important;
    }

    .choseCarModalBody .topInfo .singleInputBox .col-form-label {
        min-width: 90px;
        font-size: 13px !important;
    }

    .choseCarModalBody .topInfo .singleInputBox {
        .form-control {
            height: 34px !important;
        }
    }


}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .inspectionPageInner .topSection .rightForm .singleCarImage {
        flex: 0 1 calc(20% - 5px) !important;
    }

    .inspectionPageInner .topSection .rightForm .singleCarImage .fileUploadInput {
        height: 100%;
    }

    .inspectionPageInner .topSection .rightForm .singleCarImage .fileUploadInput label {
        width: 100%;
        height: 100%;
    }
}