.addSalesManForm {
    padding: 0px 20px;

    .singleInputBox {
        margin-bottom: 6px;

        .selectBox {
            min-width: 230px;
        }

        .multiSelect {
            .form-select {
                height: 100px;
            }
        }

        .form-control {
            min-width: 230px;
        }

        .col-form-label {
            min-width: 170px;
            font-family: mainfont_medium;
            font-size: 15px;

            span {
                min-width: 5px;
                display: inline-block;
            }
        }

        .radioBox {
            display: flex;
            justify-content: flex-start;
            column-gap: 10px;

            .form-check-input {
                outline: none;
                box-shadow: none;
            }

            .form-check-label {
                font-size: 13px;
            }

            .form-check-input:checked {
                background-color: $brand;
                border-color: $brand;
            }
        }
    }

    .bottomSubmitActions {
        margin-top: 70px;

        .btn {
            min-width: 150px;
            margin-right: 7px;
        }
    }
}

.makeBrandModelForm {
    .singleInputBox {
        margin-bottom: 15px;
    }
}