#mainWrapper {
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 309px;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    transition: 0.4s;
}

.sidebar.toggle {
    left: -309px;
}

.app_wrapper {
    max-width: calc(100% - 309px);
    background-color: #F5F5F5;
    margin-left: 309px;
    height: 100%;
    min-height: 100vh;
    padding: 10px 25px;
    transition: 0.4s;

    .appInnerCard {
        min-height: calc(100vh - 140px);
        background-color: #fff;
        border-radius: 5px;
    }
}

.app_wrapper.toggle {
    max-width: calc(100% - 0px);
    margin-left: 0px;
}