@font-face {
    font-family: mainfont_light;
    src: url('../fonts/Gilroy-Light.woff');
}

@font-face {
    font-family: mainfont_reqular;
    src: url('../fonts/Gilroy-Regular.woff');
}

@font-face {
    font-family: mainfont_medium;
    src: url('../fonts/Gilroy-Medium.woff');
}

@font-face {
    font-family: mainfont_semi;
    src: url('../fonts/Gilroy-Semibold.woff');
}

@font-face {
    font-family: mainfont_bold;
    src: url('../fonts/Gilroy-Bold.woff');
}

@import 'import/reset.scss';
@import 'import/_color.scss';
// layout file import
@import './_layout';
// all global component import
@import './components/_global';
@import './components/_button';
@import './components/_sidebar';
@import './components/_header';
@import './components/_breadCome';
@import './components/_masterTable';
@import './components/_tablestyle2';
@import './components/_pagination';
@import './components/_navTabs';
@import './components/_formElement';
@import './components/_subinnerSidebar';

// all page scss file import
@import './pages/_carDetails';
@import './pages/_addCar';
@import './pages/_scmanagement';
@import './pages/_addCompany';
@import './pages/_inspection';
@import './pages/_repair';

// responsive file import
@import './_responsive';