.btn {
    outline: none;
    box-shadow: none;
    height: 42px;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #C1C0C0;
    border-color: #C1C0C0;
    font-size: 15px;

    &:hover,
    &:focus {
        background-color: $brand;
        color: #fff;
        border-color: $brand;
    }
}

.btn-primary {
    background-color: $titleColor;
    border-color: $titleColor;
    font-size: 15px;

    &:hover,
    &:focus {
        background-color: $titleColor;
        color: #fff;
        border-color: $titleColor;
    }
}

.btn-primary:active {
    background-color: $titleColor !important;
    color: #fff !important;
    border-color: $titleColor !important;
}

.btn-secondary:active {
    background-color: $brand !important;
    color: #fff !important;
    border-color: $brand !important;
}

.btn-dark {
    background-color: #4F4F51;
    border: 1px solid #4F4F51;

    &:hover,
    &:focus {
        background-color: $brand;
        border-color: $brand;
    }
}

.btn-dark:active {
    background-color: $brand !important;
    color: #fff !important;
    border-color: $brand !important;
}

.btn-outline-primary {
    border-color: $titleColor;
    color: $titleColor;

    &:hover,
    &:focus {
        background-color: $titleColor;
        color: #fff;
        border-color: $titleColor;
    }
}

.btn-outline-primary:active {
    background-color: $titleColor !important;
    color: #fff !important;
    border-color: $titleColor !important;
}

.dropdown-toggle {
    &::after {
        transition: 0.4s;
    }
}

.dropdown-toggle[aria-expanded="true"] {
    &::after {
        transform: rotate(180deg);
    }
}