.btn {
    outline: none;
    box-shadow: none;
    height: 42px;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #C1C0C0;
    border-color: #C1C0C0;
    font-size: 15px;

    &:hover,
    &:focus {
        background-color: #C1C0C0;
        color: #fff;
        border-color: #C1C0C0;
    }
}

.btn-primary {
    background-color: $titleColor;
    border-color: $titleColor;
    font-size: 15px;

    &:hover,
    &:focus {
        background-color: $titleColor;
        color: #fff;
        border-color: $titleColor;
    }
}

.btn-success {
    background-color: #6AB123;
    border-color: #6AB123;
    font-size: 15px;

    &:hover,
    &:focus {
        background-color: #6AB123;
        color: #fff;
        border-color: #6AB123;
    }
}

.btn-danger {
    background-color: #C82226;
    border-color: #C82226;
    font-size: 15px;

    &:hover,
    &:focus {
        background-color: #C82226;
        color: #fff;
        border-color: #C82226;
    }
}

.btn-info {
    background-color: #B1239B;
    border-color: #B1239B;
    font-size: 15px;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #B1239B;
        color: #fff;
        border-color: #B1239B;
    }
}

.btn-warning {
    background-color: #E89919;
    border-color: #E89919;
    font-size: 15px;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #E89919;
        color: #fff;
        border-color: #E89919;
    }
}

.btn-primary:active {
    background-color: $titleColor !important;
    color: #fff !important;
    border-color: $titleColor !important;
}

.btn-secondary:active {
    background-color: #C1C0C0 !important;
    color: #fff !important;
    border-color: #C1C0C0 !important;
}

.btn-success:active {
    background-color: #6AB123 !important;
    color: #fff !important;
    border-color: #6AB123 !important;
}

.btn-danger:active {
    background-color: #C82226 !important;
    color: #fff !important;
    border-color: #C82226 !important;
}

.btn-info:active {
    background-color: #B1239B !important;
    color: #fff !important;
    border-color: #B1239B !important;
}

.btn-warning:active {
    background-color: #E89919 !important;
    color: #fff !important;
    border-color: #E89919 !important;
}

.btn-dark {
    background-color: #4F4F51;
    border: 1px solid #4F4F51;

    &:hover,
    &:focus {
        background-color: $brand;
        border-color: $brand;
    }
}

.btn-dark:active {
    background-color: $brand !important;
    color: #fff !important;
    border-color: $brand !important;
}

.btn-outline-primary {
    border-color: $titleColor;
    color: $titleColor;

    &:hover,
    &:focus {
        background-color: $titleColor;
        color: #fff;
        border-color: $titleColor;
    }
}

.btn-outline-primary:active {
    background-color: $titleColor !important;
    color: #fff !important;
    border-color: $titleColor !important;
}

.btn-outline-primary.active {
    background-color: $titleColor !important;
    color: #fff !important;
    border-color: $titleColor !important;
}

.dropdown-toggle {
    &::after {
        transition: 0.4s;
    }
}

.dropdown-toggle[aria-expanded="true"] {
    &::after {
        transform: rotate(180deg);
    }
}



// arrow button