::placeholder {
    color: #D5D5D5 !important;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #D5D5D5 !important;
}

::-ms-input-placeholder {
    color: #D5D5D5 !important;
}

::-moz-input-placeholder {
    color: #D5D5D5 !important;
}

::-o-input-placeholder {
    color: #D5D5D5 !important;
}

.text-success {
    color: #6AB123 !important;
}

.form-control {
    border: 1px solid #D5D5D5;
    font-size: 15px;
    color: $bodyColor !important;
    height: 38px;
    font-family: mainfont_medium !important;

    &:focus {
        box-shadow: none;
        outline: none;
        border-color: #D5D5D5;
    }
}

.form-select {
    border: 1px solid #D5D5D5;
    font-size: 15px;
    color: $bodyColor !important;
    height: 38px;
    font-family: mainfont_medium !important;

    &:focus {
        box-shadow: none;
        outline: none;
        border-color: #D5D5D5;
    }
}

.card {
    background-color: transparent;
    border: none;

    .card-header,
    .card-body,
    .card-footer {
        border: none;
        background-color: transparent;
        padding: 0px;
    }

    .card-header {
        border-bottom: 1px solid $boredrColor;

        .cardTopTitle {
            margin-bottom: 20px;

            h4 {
                font-size: 16px;
            }
        }

        .cardPageTititle {
            background-color: $titleColor;
            padding: 0px 20px;
            border-radius: 5px 5px 0px 0px;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::before {
                position: absolute;
                height: 100%;
                width: 300px;
                content: "";
                top: 0;
                left: -15px;
                background-color: $brand;
                z-index: -1;
                transform: skewX(-30deg);
            }

            h3 {
                color: #fff;
                font-size: 17px;
                padding: 20px 0px;
            }
        }

        .longContent {
            &::before {
                width: 430px;
            }
        }

        .cardHeaderAction {
            padding: 15px 15px;
            min-height: 72px;

            .btn {
                min-width: 180px;
                text-align: center;

                i {
                    font-size: 14px;
                    margin-right: 15px;
                }
            }

            .dropdown-toggle-split {
                width: max-content !important;
                min-width: auto !important;
            }
        }
    }

    .card-body {
        padding: 20px 0px;
    }

    .card-footer {
        padding: 15px 0px;
    }
}

.badge-outline {
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    text-align: center;
    height: 26px;
    padding: 0px;
    line-height: 25px;
}

.badge-success-outline {
    border-color: $success;
    color: $success;
}

.badge-info-outline {
    border-color: $info;
    color: $info;
}

.badge-warning-outline {
    border-color: $warning;
    color: $warning;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    li {
        display: block;

        .dropdown-item {
            font-size: 16px;
            color: $bodyColor;

            &:hover {
                color: $brand;
            }
        }
    }
}

.required {
    color: $brand;
}

.text-danger {
    color: $brand !important;
}

.text-gray {
    color: #4F4F51 !important;
}

.text-primary {
    color: $titleColor !important;
}

.fileUploadInput {
    input {
        display: none;
    }

    label {
        border: 1px solid #e5e5e5;
        height: 80px;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            border-color: $brand;
        }
    }
}

.fileUploadInput.small-size {
    label {
        height: 60px;
        width: 100px;
    }
}

.inputWithIconRight {
    border: 1px solid #D5D5D5;
    border-radius: 5px;

    .form-control {
        border: none;
        height: 36px;
    }

    .input-group-text {
        background-color: transparent;
        border: none;
        margin: 0;

        i {
            font-size: 16px;
            color: #D5D5D5;
        }
    }
}

label {
    font-family: mainfont_medium !important;
    font-size: 15px !important;
}