.globalPagination {

    ul {
        li {
            display: inline-block;
        }

        .leftArrow,
        .rightArrow {
            a {
                height: 30px;
                width: 30px;
                display: block;
                text-align: center;
                line-height: 30px;
                font-size: 15px;
                color: #D5D5D5;

                &:hover {
                    color: $brand;
                }
            }
        }

        .middleInof {
            margin: 0px 10px;
            color: #D5D5D5;

            .currentPage,
            .totalPage {
                font-family: mainfont_bold;
                color: $brand;
            }

            .currentPage {
                margin-right: 5px;
            }

            .totalPage {
                margin-left: 5px;
            }
        }
    }
}

.paginationstyle2 {
    .page-link {
        outline: none;
        box-shadow: none;
        color: $titleColor;
        font-family: mainfont_medium;
        min-height: 39px;

        &:hover {
            background-color: $titleColor;
            color: #fff;
            border-color: $titleColor;
        }
    }

    .active {
        font-family: mainfont_bold;
        background-color: transparent;
        border-color: #dee2e6;
    }
}

.dataTables_paginate {
    .page-link {
        outline: none;
        box-shadow: none;
        color: $titleColor;
        font-family: mainfont_medium;
        min-height: 39px;

        &:hover {
            background-color: $titleColor;
            color: #fff;
            border-color: $titleColor;
        }
    }

    .page-item.active {
        .page-link {
            background-color: $titleColor;
            border-color: $titleColor;
            color: #fff;

            &:hover {
                background-color: $titleColor;
                border-color: $titleColor;
                color: #fff;
            }
        }
    }
}