.sidebar {
    padding: 50px 0px;

    .top_primary_link {
        ul {
            li {
                a {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;

                    .icon {
                        min-width: 36px;
                    }

                    .menu_content {
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }

    .main_menu_link {
        margin-top: 25px;

        .label_menu {
            padding: 0px 20px;

            h4 {
                font-size: 14px;
                color: $brand;
                margin-bottom: 13px;
            }
        }
    }

    .sidebarMenuWrapper {
        .sidebarMenuLink {
            list-style: none;

            a {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                min-height: 50px;
                color: $bodyColor;

                .icon {
                    min-width: 39px;

                    svg path {
                        transition: 0.4s;
                    }
                }

                .menu_content {
                    position: relative;
                    top: 2px;
                    transition: 0.4s;
                }

                &:hover {
                    .icon {
                        svg path {
                            fill: $brand;
                        }
                    }

                    .menu_content {
                        color: $brand;
                    }
                }
            }

            .active {
                background-color: $brand;

                .icon {
                    svg path {
                        fill: #fff;
                    }
                }

                .menu_content {
                    color: #fff;
                }

                &:hover {
                    .icon {
                        svg path {
                            fill: #fff;
                        }
                    }

                    .menu_content {
                        color: #fff;
                    }
                }
            }
        }

        .mainAcordionItem {
            border: none;

            .accordion-header {
                .accordion-button {
                    padding: 10px 20px;
                    display: flex;
                    align-items: center;
                    color: $bodyColor;
                    min-height: 50px;
                    border-radius: 0px;

                    .icon {
                        min-width: 39px;

                        svg path {
                            transition: 0.4s;
                        }
                    }

                    .menu_content {
                        position: relative;
                        top: 0px;
                        transition: 0.4s;
                    }

                    &:hover {
                        .icon {
                            svg path {
                                fill: $brand;
                            }
                        }

                        .menu_content {
                            color: $brand;
                        }
                    }

                    &::after {
                        transition: 0.4s;
                        content: "\f107";
                        font-family: 'Font Awesome 6 Pro';
                        background-image: none;
                        transform: none;
                        font-size: 19px;
                        color: $brand;
                        font-weight: 500;
                    }
                }

                .accordion-button:not(.collapsed) {
                    outline: none;
                    box-shadow: none;
                    background-color: $brand;

                    .icon {
                        svg path {
                            fill: #fff;
                        }
                    }

                    .menu_content {
                        color: #fff;
                    }

                    &::after {
                        content: "\f106";
                        font-family: 'Font Awesome 6 Pro';
                        color: #fff;
                    }
                }

                .accordion-button:focus {
                    z-index: 3;
                    border-color: transparent;
                    outline: none;
                    box-shadow: none;
                }
            }

            .sub_menu {
                padding: 7px 0px;

                ul {
                    padding-left: 40px;

                    li {
                        a {
                            display: flex;
                            padding: 4px 0px;

                            span {
                                min-width: 50px;
                            }

                            p {
                                transition: 0.4s;
                            }

                            &:hover {
                                color: $brand;

                                p {
                                    color: $brand;
                                }
                            }
                        }
                    }
                }
            }
        }

        .subAcordionMenu {
            .accordion-item {
                border: none;

                .accordion-header {
                    .accordion-button {
                        padding: 0px 20px 0px 0px !important;
                        min-height: 40px;

                        span {
                            min-width: 50px;
                        }
                    }

                    .accordion-button:not(.collapsed) {
                        outline: none;
                        box-shadow: none;
                        background-color: transparent;
                        color: $brand;

                        p {
                            color: $brand;
                        }

                        &::after {
                            content: "\f106";
                            font-family: 'Font Awesome 6 Pro';
                            color: $brand;
                        }
                    }

                    .accordion-button:focus {
                        z-index: 3;
                        border-color: transparent;
                        outline: none;
                        box-shadow: none;
                    }
                }

                .subacorMenu {
                    ul {
                        padding-left: 0px !important;
                        padding-bottom: 5px;

                        li {
                            a {
                                padding: 7px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar::-moz-scrollbar {
    display: none;
}

.sidebar::-o-scrollbar {
    display: none;
}

.sidebar::-ms-scrollbar {
    display: none;
}