.stepButtonGroup {
    margin-bottom: 20px;

    .steps {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .step {
            flex: 1;
            width: 100%;
            position: relative;
            z-index: 1;

            &::after {
                position: absolute;
                height: 2px;
                width: 100%;
                right: -90px;
                top: 27%;
                transform: translateX(-50%);
                content: "";
                background-color: #D5D5D5;
                z-index: -1;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            .step-content {
                text-align: center;
                display: block;


                .step-circle {
                    height: 30px;
                    width: 30px;
                    display: block;
                    border: 2px solid $titleColor;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;
                    margin: 0 auto;
                    font-size: 11px;
                }

                .step-text {
                    text-transform: uppercase;
                    font-size: 11px;
                    margin-top: 10px;
                    display: block;
                    color: $bodyColor;
                }
            }
        }

        .active {
            .step-content {
                .step-circle {
                    background-color: $titleColor;
                    color: #fff;
                }

                .step-text {
                    color: $titleColor;
                }
            }


            &:after {
                background-color: $titleColor;
            }
        }
    }
}

.nextStepButton {
    margin-top: 10px;
    padding: 0px 20px;
    padding-bottom: 20px;

    .btn {
        width: 100%;
    }
}